@import "tailwindcss";

@font-face {
  font-family: "SpaceGrotesk-Light";
  src: url("/fonts/space-grotesk/SpaceGrotesk-Light.woff2") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url("/fonts/space-grotesk/SpaceGrotesk-Regular.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceGrotesk-SemiBold";
  src: url("/fonts/space-grotesk/SpaceGrotesk-SemiBold.woff2")
    format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SpaceGrotesk-Bold";
  src: url("/fonts/space-grotesk/SpaceGrotesk-Bold.woff2") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --spacegrotesk-light: "SpaceGrotesk-Light", "sans-serif", "system-ui";
  --spacegrotesk: "SpaceGrotesk", "sans-serif", "system-ui";
  --spacegrotesk-semibold: "SpaceGrotesk-Semibold", "sans-serif", "system-ui";
  --spacegrotesk-bold: "SpaceGrotesk-Bold", "sans-serif", "system-ui";

  --background: #f7faff;

  --theme-black: #202020;
  --theme-white: #f7faff;
  --theme-blue: #6984a9;

  --font-black: #202020;
  --font-white: #f7faff;
  --font-blue: #6984a9;

  --error: #e62727;
  --success: #8aa624;
}

@theme inline {
  --font-spacegrotesk-light: var(--spacegrotesk-light);
  --font-spacegrotesk: var(--spacegrotesk);
  --font-spacegrotesk-semibold: var(--spacegrotesk-semibold);
  --font-spacegrotesk-bold: var(--spacegrotesk-bold);

  --color-backround: var(--backround);

  --color-theme-black: var(--theme-black);
  --color-theme-white: var(--theme-white);
  --color-theme-blue: var(--theme-blue);

  --color-font-black: var(--font-black);
  --color-font-white: var(--font-white);
  --color-font-blue: var(--font-blue);

  --color-error: var(--error);
  --color-success: var(--success);
}

body {
  font-family: var(--spacegrotesk), sans-serif;
  background-color: var(--background);
  color: var(--font-black);
}

section,
.padding-container {
  padding: 20px;
}
